/*
 * The grid styles
 */


.clu {
  width: 100%;
  min-width: $palm_min + 0px;
  max-width: $palm_max + 0px;
  margin: 0 auto;
  overflow: hidden;
}

[class*="grid"] {
  @include box-sizing();
  float: left;
}

[class*="push"], [class*="pull"] {
  position: relative;
  @include box-sizing();
}

@mixin grid-width($media_type:"palm") {
  @for $i from 1 through 19 {
    $num: $i * 5;
    $percent: $num * 1%;
    
    .#{$media_type}-grid-#{$num} {
      width: $percent;
      
      @if ($gutter != 0) {
        $max_width: 0;
        @if ($media_type == "palm" or $media_type == "") { $max_width: $palm_max };
        @if ($media_type == "lap")  { $max_width: $lap_max };
        @if ($media_type == "desk") { $max_width: $desk_max };
        padding-right: percentage(($gutter / 2) / $max_width);
        padding-left: percentage(($gutter / 2) / $max_width);
      }
    }
    
    .push-#{$media_type}-#{$num} {
      left: $percent;
    }
    
    .pull-#{$media_type}-#{$num} {
      right: $percent;
    }
  }
}

@include grid-width();

.palm-grid-100 {
  width: 100%;
}

@media screen and (min-width: $lap_min + 0px) {
  @include grid-width("lap");
  
  .lap-grid-100 {
    width: 100%;
  }
  
  .clu {
    min-width: $lap_min + 0px;
    max-width: $lap_max + 0px;
  }
}

@media screen and (min-width: $desk_min + 0px) {
  @include grid-width("desk");
  
  .desk-grid-100 {
    width: 100%;
  }
  
  .clu {
    min-width: $desk_min + 0px;
    max-width: $desk_max + 0px;
  } 
}
