/*
 * Theme: Clu
 * Theme URI: https://github.com/StourValleyDesigns/clu
 * Description: A Sass based responsive grid layout
 * Version: 1.0
 * Author: Adam Chamberlin
 */

// Variables that can be configured to taylor your layout
$base_width: 1140; // Set the width of the containing elements
$gutter_width: 20; // Set the width of the gutter between the columns

// Import a basic reset
@import "reset";

// Import the grid layout
@import "grid";

// Import a basic set of typography rules
@import "typography";

/*
 * All styles below this point are for styling your site
 */

.clu {
  margin-bottom: 1em;
}