/*
 * Theme: Clu
 * Theme URI: https://github.com/StourValleyDesigns/clu
 * Description: A Sass based responsive grid layout
 * Version: 1.0
 * Author: Adam Chamberlin
 */
/*
 * CSS Reset
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden], .hide {
  display: none; }

img, object, embed {
  max-width: 100%; }

img {
  height: auto; }

/*
 * The grid styles
 */
.clu {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden; }

[class*="grid"] {
  background: #d1d1d1;
  margin: 0 1.75439% 0 0;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.sark {
  margin-right: 0; }

.grid-one {
  width: 6.72515%; }

.grid-two {
  width: 15.20468%; }

.grid-three {
  width: 23.68421%; }

.grid-four {
  width: 32.16374%; }

.grid-five {
  width: 40.64327%; }

.grid-six {
  width: 49.12281%; }

.grid-seven {
  width: 57.60234%; }

.grid-eight {
  width: 66.08187%; }

.grid-nine {
  width: 74.5614%; }

.grid-ten {
  width: 83.04094%; }

.grid-eleven {
  width: 91.52047%; }

.grid-twelve {
  width: 100%; }

.push-one {
  margin-left: 8.47953%; }

.push-two {
  margin-left: 16.95906%; }

.push-three {
  margin-left: 25.4386%; }

.push-four {
  margin-left: 33.91813%; }

.push-five {
  margin-left: 42.39766%; }

.push-six {
  margin-left: 50.87719%; }

.push-seven {
  margin-left: 59.35673%; }

.push-eight {
  margin-left: 67.83626%; }

.push-nine {
  margin-left: 76.31579%; }

.push-ten {
  margin-left: 84.79532%; }

.push-eleven {
  margin-left: 93.27485%; }

@media handheld, only screen and (max-width: 768px) {
  [class*="grid"] {
    width: auto;
    display: block;
    float: none;
    margin: 0; } }
/*
 * Typography styling
 */
body {
  font-size: 1.0000rem;
  line-height: 1.5000rem; }

article {
  max-width: 100%;
  margin: auto; }

h1 {
  font-size: 6.8750rem;
  line-height: 7.5000rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem; }

h2 {
  font-size: 2.6250rem;
  line-height: 3.0000rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem; }

h3 {
  font-size: 1.6250rem;
  line-height: 3.0000rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem; }

p, ul {
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

small, aside {
  font-size: 0.6250rem; }

/*
 * All styles below this point are for styling your site
 */
.clu {
  margin-bottom: 1em; }
