/*!
 * Theme       : Clu
 * Theme URI   : https://github.com/StourValleyDesigns/clu
 * Description : A Sass based responsive grid layout
 * Version     : 1.0
 * Author      : Adam Chamberlin
 * Author URI  : http://twitter.com/funkylarma
 */

//
// Import Sass stuff
//
@import "variables";
@import "mixins";

/*
 * CSS Reset
 */
@import "reset";

/*
 * Typographic styles
 */
@import "typography";

@import "grid";

/*
 * All styles below this point are for styling your site
 */

.clu {
  margin-bottom: 1em;
  border: 1px solid rgba(0,0,0,0.05);
}

p.content {
  margin: 1em;
  text-align: center;
  background: #6a8cb7;
  color: $white;
}