/*
 * Theme       : Clu
 * Theme URI   : https://github.com/StourValleyDesigns/clu
 * Description : A Sass based responsive grid layout
 * Version     : 1.0
 * Author      : Adam Chamberlin
 * Author URI  : http://twitter.com/funkylarma
 */
/*
 * CSS Reset
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden], .hide {
  display: none; }

img, object, embed {
  max-width: 100%; }

img {
  height: auto; }

/*
 * Typographic styles
 */
a {
  text-decoration: none;
  color: #0066cc;
  padding: 2px 0;
  -webkit-transition: color 0.3s ease-out; }
  a:hover {
    color: #0099ff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: serif;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility; }

h1 small, h2 small {
  font-weight: normal;
  color: #bfbfbf; }

h1, .h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2; }

h2, .h2 {
  margin-bottom: 0.75em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2; }

h3, .h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3; }

h4, .h4 {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25; }

h5, .h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em; }

h6, .h6 {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

p, ol, ul, dl, address {
  margin-bottom: 1.5em;
  line-height: 1.5em; }

ul, ol {
  margin: 0 0 1.5em -20;
  padding: 0 0 0 20; }

li ul, li ol {
  margin: 0; }

blockquote {
  margin: 0 0 1.5em -20;
  padding-left: 20;
  border-left: 2px solid #c7ced6;
  font-family: serif;
  font-style: normal; }

q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

cite {
  font-style: normal; }

dl, dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: #f3f5f6;
  color: #616161;
  text-decoration: none; }

mark {
  background-color: #f3f5f6;
  color: #616161;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub, sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #bfbfbf; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tbody tr:nth-child(even) td, tbody tr.even td {
  background: #e6e6e6; }

tfoot {
  font-style: italic; }

caption {
  background: #bfbfbf; }

/*
 * The grid styles
 */
.clu {
  width: 100%;
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden; }

[class*="grid"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left; }

[class*="push"], [class*="pull"] {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.palm-grid-5 {
  width: 5%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-5 {
  left: 5%; }

.pull-palm-5 {
  right: 5%; }

.palm-grid-10 {
  width: 10%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-10 {
  left: 10%; }

.pull-palm-10 {
  right: 10%; }

.palm-grid-15 {
  width: 15%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-15 {
  left: 15%; }

.pull-palm-15 {
  right: 15%; }

.palm-grid-20 {
  width: 20%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-20 {
  left: 20%; }

.pull-palm-20 {
  right: 20%; }

.palm-grid-25 {
  width: 25%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-25 {
  left: 25%; }

.pull-palm-25 {
  right: 25%; }

.palm-grid-30 {
  width: 30%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-30 {
  left: 30%; }

.pull-palm-30 {
  right: 30%; }

.palm-grid-35 {
  width: 35%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-35 {
  left: 35%; }

.pull-palm-35 {
  right: 35%; }

.palm-grid-40 {
  width: 40%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-40 {
  left: 40%; }

.pull-palm-40 {
  right: 40%; }

.palm-grid-45 {
  width: 45%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-45 {
  left: 45%; }

.pull-palm-45 {
  right: 45%; }

.palm-grid-50 {
  width: 50%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-50 {
  left: 50%; }

.pull-palm-50 {
  right: 50%; }

.palm-grid-55 {
  width: 55%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-55 {
  left: 55%; }

.pull-palm-55 {
  right: 55%; }

.palm-grid-60 {
  width: 60%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-60 {
  left: 60%; }

.pull-palm-60 {
  right: 60%; }

.palm-grid-65 {
  width: 65%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-65 {
  left: 65%; }

.pull-palm-65 {
  right: 65%; }

.palm-grid-70 {
  width: 70%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-70 {
  left: 70%; }

.pull-palm-70 {
  right: 70%; }

.palm-grid-75 {
  width: 75%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-75 {
  left: 75%; }

.pull-palm-75 {
  right: 75%; }

.palm-grid-80 {
  width: 80%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-80 {
  left: 80%; }

.pull-palm-80 {
  right: 80%; }

.palm-grid-85 {
  width: 85%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-85 {
  left: 85%; }

.pull-palm-85 {
  right: 85%; }

.palm-grid-90 {
  width: 90%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-90 {
  left: 90%; }

.pull-palm-90 {
  right: 90%; }

.palm-grid-95 {
  width: 95%;
  padding-right: 2.08333%;
  padding-left: 2.08333%; }

.push-palm-95 {
  left: 95%; }

.pull-palm-95 {
  right: 95%; }

.palm-grid-100 {
  width: 100%; }

@media screen and (min-width: 481px) {
  .lap-grid-5 {
    width: 5%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-5 {
    left: 5%; }

  .pull-lap-5 {
    right: 5%; }

  .lap-grid-10 {
    width: 10%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-10 {
    left: 10%; }

  .pull-lap-10 {
    right: 10%; }

  .lap-grid-15 {
    width: 15%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-15 {
    left: 15%; }

  .pull-lap-15 {
    right: 15%; }

  .lap-grid-20 {
    width: 20%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-20 {
    left: 20%; }

  .pull-lap-20 {
    right: 20%; }

  .lap-grid-25 {
    width: 25%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-25 {
    left: 25%; }

  .pull-lap-25 {
    right: 25%; }

  .lap-grid-30 {
    width: 30%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-30 {
    left: 30%; }

  .pull-lap-30 {
    right: 30%; }

  .lap-grid-35 {
    width: 35%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-35 {
    left: 35%; }

  .pull-lap-35 {
    right: 35%; }

  .lap-grid-40 {
    width: 40%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-40 {
    left: 40%; }

  .pull-lap-40 {
    right: 40%; }

  .lap-grid-45 {
    width: 45%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-45 {
    left: 45%; }

  .pull-lap-45 {
    right: 45%; }

  .lap-grid-50 {
    width: 50%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-50 {
    left: 50%; }

  .pull-lap-50 {
    right: 50%; }

  .lap-grid-55 {
    width: 55%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-55 {
    left: 55%; }

  .pull-lap-55 {
    right: 55%; }

  .lap-grid-60 {
    width: 60%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-60 {
    left: 60%; }

  .pull-lap-60 {
    right: 60%; }

  .lap-grid-65 {
    width: 65%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-65 {
    left: 65%; }

  .pull-lap-65 {
    right: 65%; }

  .lap-grid-70 {
    width: 70%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-70 {
    left: 70%; }

  .pull-lap-70 {
    right: 70%; }

  .lap-grid-75 {
    width: 75%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-75 {
    left: 75%; }

  .pull-lap-75 {
    right: 75%; }

  .lap-grid-80 {
    width: 80%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-80 {
    left: 80%; }

  .pull-lap-80 {
    right: 80%; }

  .lap-grid-85 {
    width: 85%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-85 {
    left: 85%; }

  .pull-lap-85 {
    right: 85%; }

  .lap-grid-90 {
    width: 90%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-90 {
    left: 90%; }

  .pull-lap-90 {
    right: 90%; }

  .lap-grid-95 {
    width: 95%;
    padding-right: 0.97752%;
    padding-left: 0.97752%; }

  .push-lap-95 {
    left: 95%; }

  .pull-lap-95 {
    right: 95%; }

  .lap-grid-100 {
    width: 100%; }

  .clu {
    min-width: 481px;
    max-width: 1023px; } }
@media screen and (min-width: 1024px) {
  .desk-grid-5 {
    width: 5%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-5 {
    left: 5%; }

  .pull-desk-5 {
    right: 5%; }

  .desk-grid-10 {
    width: 10%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-10 {
    left: 10%; }

  .pull-desk-10 {
    right: 10%; }

  .desk-grid-15 {
    width: 15%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-15 {
    left: 15%; }

  .pull-desk-15 {
    right: 15%; }

  .desk-grid-20 {
    width: 20%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-20 {
    left: 20%; }

  .pull-desk-20 {
    right: 20%; }

  .desk-grid-25 {
    width: 25%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-25 {
    left: 25%; }

  .pull-desk-25 {
    right: 25%; }

  .desk-grid-30 {
    width: 30%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-30 {
    left: 30%; }

  .pull-desk-30 {
    right: 30%; }

  .desk-grid-35 {
    width: 35%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-35 {
    left: 35%; }

  .pull-desk-35 {
    right: 35%; }

  .desk-grid-40 {
    width: 40%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-40 {
    left: 40%; }

  .pull-desk-40 {
    right: 40%; }

  .desk-grid-45 {
    width: 45%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-45 {
    left: 45%; }

  .pull-desk-45 {
    right: 45%; }

  .desk-grid-50 {
    width: 50%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-50 {
    left: 50%; }

  .pull-desk-50 {
    right: 50%; }

  .desk-grid-55 {
    width: 55%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-55 {
    left: 55%; }

  .pull-desk-55 {
    right: 55%; }

  .desk-grid-60 {
    width: 60%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-60 {
    left: 60%; }

  .pull-desk-60 {
    right: 60%; }

  .desk-grid-65 {
    width: 65%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-65 {
    left: 65%; }

  .pull-desk-65 {
    right: 65%; }

  .desk-grid-70 {
    width: 70%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-70 {
    left: 70%; }

  .pull-desk-70 {
    right: 70%; }

  .desk-grid-75 {
    width: 75%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-75 {
    left: 75%; }

  .pull-desk-75 {
    right: 75%; }

  .desk-grid-80 {
    width: 80%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-80 {
    left: 80%; }

  .pull-desk-80 {
    right: 80%; }

  .desk-grid-85 {
    width: 85%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-85 {
    left: 85%; }

  .pull-desk-85 {
    right: 85%; }

  .desk-grid-90 {
    width: 90%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-90 {
    left: 90%; }

  .pull-desk-90 {
    right: 90%; }

  .desk-grid-95 {
    width: 95%;
    padding-right: 0.69444%;
    padding-left: 0.69444%; }

  .push-desk-95 {
    left: 95%; }

  .pull-desk-95 {
    right: 95%; }

  .desk-grid-100 {
    width: 100%; }

  .clu {
    min-width: 1024px;
    max-width: 1440px; } }
/*
 * All styles below this point are for styling your site
 */
.clu {
  margin-bottom: 1em;
  border: 1px solid rgba(0, 0, 0, 0.05); }

p.content {
  margin: 1em;
  text-align: center;
  background: #6a8cb7;
  color: white; }
